.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 40px auto;
    line-height: 22px;
    color: #0791ff;
}

.dialogsItems .dialog{
    padding: 10px;
}

a.active{
    color: black;
}
.messages {
padding: 10px;
}

.message{

}